body {
    background: lime;
}

section {
    width: 900px;
    margin: auto;
}

h1 {
    color: red;
    font-size: 32px;
}

img {
    width: 300px;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}